:root {
  --ff-main: sans-serif;
  --bg-clr1: red;
  --bg-clr2: rgb(170, 0, 0);
  --main-clr: gold;
  --sec-clr1: green;
  --sec-clr2: rgb(0, 85, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Start */
h1 {
  line-height: 2;
  font-weight: 900;
  color: var(--main-clr);
  text-shadow: 2px 2px black;
  background-image: linear-gradient(to top, var(--bg-clr2), var(--bg-clr1));
  padding: 2rem;
  border: 3px solid;
  margin-bottom: 3rem;
  text-align: center;
}

h2 {
  color: white;
  margin: 1rem auto;
  font-family: var(--ff-main);
}

form select {
  margin-bottom: 1rem;
  padding: 5px 45%;
  font-weight: 700;
  border: 2px solid var(--main-clr);
  background-color: transparent;
  color: var(--main-clr);
  border-radius: 10px;
}

.table {
  background-image: url(../img/img/table.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 1vh;
}

.content {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 10px 20px 30px rgba(255, 255, 255, 0.1);
  height: 100%;
}

form {
  width: max-content;
  margin: 20vh auto;
}

.game {
  height: 100%;
}

[data-js-board] {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70%;
}

.reset-div {
  position: absolute;
  top: 0;
  right: 10%;
}

.profile {
  width: 50px;
  margin: 10px auto 0 auto;
  position: relative; /* pour placer les dialogues */
}

.bank-name {
  font-weight: 900;
  color: var(--main-clr);
  text-shadow: 1px 1px rgb(255, 255, 255);
  font-size: 32px;
  margin-left: -25px;
}

.player-name {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-left: -2px;
}

/* en attendant finalisation script */
.player {
  display: inline-block;
  border-radius: 30%;
  margin: 130px 5vw 0 10vw;
  position: relative;
  height: 100px;
  max-width: 8%;
  min-width: 85px;
}

.player-ui {
  display: flex;
  flex-direction: column;
  text-align: center;
}

[data-js-score] {
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  height: 24px;
  width: 24px;
  margin: 0 auto;
}

[data-js-counter] {
  background-color: transparent;
  border: 2px solid var(--main-clr);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  font-family: var(--ff-main);
  color: var(--main-clr);
}

.player-ui .action {
  flex-wrap: nowrap;
}

.hand {
  min-height: 160px;
}

[data-js-players] {
  margin: 0 auto;
}

[data-js-board] .player0 {
  display: block;
  margin: 0 auto 60px auto;
}

[data-js-bubble] {
  position: absolute;
  bottom: 0;
  right: 150%;
  width: 150px;
  height: 50px;
  background-color: white;
  padding: 25%;
  border-radius: 10px;
}

[data-js-bubble]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 140px;
  border-left: 20px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.active {
  box-shadow: 1px 1px 10px 3px gold;
}

/* Cards */

.card {
  border: solid 1px #aaa;
  border-radius: 9px;
  width: 95px;
  height: 150px;
  background-color: white;
  padding: 3px 3px 3px 3px;
  margin: 5px;
  box-shadow: 0px 0px 10px -3px;
  animation-name: draw;
  animation-duration: 0.8s;
}

.card .value {
  font-size: 15pt;
}

.card .suit {
  background-image: url(../img/img/suits.png);
  height: 100px;
  width: 90px;
}

.card .diamonds {
  background-position-y: 100px;
}

.card .hearts {
  background-position-x: 90px;
}

.card .clubs {
  background-position-x: 90px;
  background-position-y: 100px;
}

.hand .card {
  margin-left: -4rem;
}

.player .hand {
  flex-wrap: nowrap;
}

/* BUTTONS */

.reset-div button {
  background-image: linear-gradient(to top, var(--bg-clr2), var(--bg-clr1));
  padding: 1rem;
  color: rgb(255, 214, 80);
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100px;
}

.reset-div button:hover {
  box-shadow: 1px 1px 5px 2px;
  opacity: 0.9;
  cursor: pointer;
}

.btn-red {
  background-image: linear-gradient(to top, var(--bg-clr2), var(--bg-clr1));
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-clr);
  transition: 0.2s;
}

form .btn-red {
  border-radius: 15px;
  margin-bottom: 20px;
}

.btn-green {
  background-image: linear-gradient(to top, var(--sec-clr2), var(--sec-clr1));
  padding: 1rem;
  border-radius: 30%;
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-clr);
  transition: 0.2s;
}
/* https://css-tricks.com/almanac/selectors/e/enabled/#:~:text=The%20%3Aenabled%20pseudo%2Dclass%20in,can%20focus%20on%20or%20click. */
.btn-red:enabled:hover,
.btn-green:enabled:hover,
form select:hover,
[data-js-exit]:hover {
  border-color: var(--main-clr);
  box-shadow: 1px 1px 5px 2px var(--main-clr);
  opacity: 0.95;
  cursor: pointer;
}

button + button {
  margin-left: 10px;
}

/* State */
[data-js-state] {
  position: absolute;
  top: 15%;
}

.player0 [data-js-state] {
  position: absolute;
  top: 170%;
}

.state-img {
  width: 100px;
}

[data-js-exit] {
  position: absolute;
  top: 5vh;
  border-radius: 5px;
  left: 10%;
}

[data-js-exit] img {
  width: 50px;
}

.win-animation {
  animation-name: scaleUp;
  animation-duration: 2.5s;
  transform: scale(1.2);
}
